<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booking Confirmation</title>
</head>
<body style="font-family: Arial, sans-serif; background-color: #f4f4f4; color: #333; margin: 0; padding: 0;">

<div style="max-width: 600px; margin: 20px auto; background-color: #fff; padding: 20px; border-radius: 5px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
    <h1 style="color: #007BFF;">Booking Confirmation</h1>
    <p>Dear [(${nameUser})],</p>
    <p>Your reservation has been successfully confirmed for the following detail:</p>

    <div style="margin-top: 20px; border-top: 1px solid #ddd; padding-top: 10px;">
        <h2>Reservation Details:</h2>
        <p><strong>Product:</strong> [(${nameProduct})]</p>
        <p><strong>CheckIn:</strong> [(${checkin})]</p>
        <p><strong>CheckOut:</strong>[(${checkout})]</p>
    </div>

    <p>Thank you for choosing our service. We hope you enjoy driving Explorer.</p>

    <div style="margin-top: 20px; text-align: center; color: #777;">
        <p>¡Thank You!<br>The Explorer Team</p>
    </div>
</div>

</body>
</html>