<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmación de Reservación</title>
</head>
<body style="font-family: Arial, sans-serif; background-color: #f4f4f4; color: #333; margin: 0; padding: 0;">

<div style="max-width: 600px; margin: 20px auto; background-color: #fff; padding: 20px; border-radius: 5px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
    <h1 style="color: #007BFF;">Confirmación de Reservación</h1>
    <p>Estimado [(${nameUser})],</p>
    <p>Su reservación ha sido confirmada con éxito para el siguiente detalle:</p>

    <div style="margin-top: 20px; border-top: 1px solid #ddd; padding-top: 10px;">
        <h2>Detalles de la Reservación:</h2>
        <p><strong>Producto:</strong> [(${nameProduct})]</p>
        <p><strong>Fecha de Inicio:</strong> [(${checkin})]</p>
        <p><strong>Fecha de Fin:</strong>[(${checkout})]</p>
    </div>

    <p>Gracias por elegir nuestro servicio. Esperamos que disfrute de su estancia.</p>

    <div style="margin-top: 20px; text-align: center; color: #777;">
        <p>¡Gracias!<br>El Equipo de Explorer</p>
    </div>
</div>

</body>
</html>